@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Digital Character Sheet</h1>
    <p class="lead">The Digital Character Sheet is a web app designed to go along side a traditional pen and paper RPG using the Cortex system.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>All your character sheets! All in one place!</h2>
        <p>
            The Digital Character sheet can store as many characters as you need, and keep track of which ones are in which campaigns, and which players control them.
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon:</h2>
        <p>
            - Login system, so each player is the only one with control of their character
        </p>
        <p>
            - Game Manager screen, giving the campaign's game manager access to extra tools, including a database of enemy units, and view-only access to the player's character sheets.
        </p>
        <p>
            - Die roller for the character sheets, automatically adds all modifiers to the die rolls. 
        </p>
            
        
    </div>
</div>